<% provide(:title, "Help") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Help</h2>
  	</div>
  </div>
</div>
<div class="row col-xs-offset-2">
  <p>Welcome To Gift Garden!  In order to assist you with using this tool, we have provided a downloadable PDF guide to assist you.</p>
  <br />
  <p class><a href="/GiftGardenHelpGuide.pdf" target="_blank">Please click here to download our PDF Help Guide</a></p>
</div>