<% provide(:title, "Import Successful") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class='import-header'>
  		<h2 class="import-color">Import Successful <small>&nbsp; Congrats!</small><%= image_tag("icons/flower4_square.png", height: "48",  alt: "Users", class: "pull-right hidden-xs") %></h2>
  	</div>
  </div>
</div>

<!-- Content -->
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <h4>Import results -- coming soon...</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-xs-offset-1 text-center">
    <%=link_to "OK", '/import-export', class: "btn btn-success" %>
  </div>
</div>