<% provide(:title, "New Donor") %>
<% provide(:button_text, "Create") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2>New Donor <small>&nbsp; Create a new Donor</small><%= image_tag("icons/flower2_square.png", height: "48",  alt: "New Donor", class: "pull-right hidden-xs") %></h2>
  	</div>
  </div>
</div>
<div class="row">
  <%=render 'form' %>
</div>