<% provide(:title, "New User") %>
<% provide(:button_text, "Create") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2>New User <small>&nbsp; Create a new User</small></h2>
  	</div>
  </div>
</div>
<div class="row">
  <%=render 'form' %>
</div>
