<% provide(:title, "Edit Gift") %>
<% provide(:button_text, "Update") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2 class="page-header-surf">Edit Gift <small>&nbsp; Update this Gift</small><%= image_tag("icons/flower1_square.png", height: "48",  alt: "New Gifts", class: "pull-right hidden-xs") %></h2>
  	</div>
  </div>
</div>
<div class="row">
  <%= render 'form' %>
</div>
