<% provide(:title, "New Gift") %>
<% provide(:button_text, "Create") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2>New Gift <small>&nbsp; Create one or many new Gifts</small> <%= image_tag("icons/bee1_square.png", height: "48",  alt: "New Gifts", class: "pull-right hidden-xs") %></h2>
  	</div>
  </div>
</div>
<div class="row">
  <%=render 'form' %>
</div>