// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.surf-links-div {
  float:right;
  width:50%;
  background-color: white;
  z-index:10;
  visibility:hidden;
}