<% provide(:title, "Edit Activity") %>
<% provide(:button_text, "Update") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2 class="page-header-surf">Edit Activity <small>&nbsp; Update this Activity or surf its Gifts</small><%= image_tag("icons/flower3_square.png", height: "48",  alt: "New Gifts", class: "pull-right hidden-xs") %></h2>
  		<aside class="text-right">
  		  <div>
  		    <span class="glyphicon glyphicon-plus icon-donna icon-donna-new"></span><span class="icon-donna-text">
		      <%=link_to "Add New Gift for this Activity", new_gift_path(activity_id: @activity.id) %></span>
  		  </div>
  		  <div>
          <%=link_to "All Gifts for this Activity", "/gifts?utf8=✓&activity_id=" + @activity.id.to_s + "&donor_id=&timeframe=All&sortby=&pageby=&commit=GO" %>
        </div>
  		</aside>
  	</div>
  </div>
</div>
<div class="row">
  <%= render 'form' %>
</div>